<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
<h1>Overview</h1>
  <table>
    <thead>
      <tr>
        <th>Kalorien</th>
        <th>Proteine</th>
	<th>Aktive Zeit</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < rows.length; i++) { %>
        <tr>
          <td><%= rows[i].kalorien %></td>
          <td><%= rows[i].proteine %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <button type="button">Go to Essen</button>
</body>
</html>

