<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>hestia</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <div class="Menubar">
            <div>Project Hestia</div>
            <div>Dashboard</div>
            <div>https://github.com/NullNUMMER24/hestia.git</div>
        </div>
        <div class="Shortcuts">
            <div class="Food">Food</div>
            <div class="Exercise">Exercise</div>
            <div class="ToDo">ToDo</div>
        </div>
    </div>
    

    
</body>
</html>