<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Essen table</title>
</head>
<body>
  <h1>Essen table</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < rows.length; i++) { %>
        <tr>
          <td><%= rows[i].id %></td>
          <td><%= rows[i].name %></td>
          <td><%= rows[i].description %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>

