
.header {
    background-image: url(mountain.jpg);
}

.Menubar {
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    border-radius: 25px;
}

.Shortcuts {
    display: flex;
    justify-content: space-around;
    height: 600px;
    background-attachment: scroll;
}

.Food {
    border-radius: 25px;
    background-color: red;
    height: 10%;
    width: 20%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.E {
    border-radius: 25px;
    background-color: red;
    height: 10%;
    width: 20%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.Food {
    border-radius: 25px;
    background-color: red;
    height: 10%;
    width: 20%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}